<header>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="order.setView('search')">
                    <em class="catch_phrase">when you've just gotta... </em> Skedaddle</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/order" ng-click="order.setView('search')">Search
                            <img src="../../assets/images/magnifying-glass32.png">
                        </a>
                    </li>

                    <li>
                        <a href='http://www.facebook.com/justgottaskedaddle'>facebook
                            <img src="../../assets/images/facebook29.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/gottaSkedaddle">Twitter
                            <img src="../../assets/images/twitter1.png">
                        </a>
                    </li>
                    <li>
                        <a href="#">instagram
                            <img src="../../assets/images/instagram12.png">
                        </a>
                    </li>
                    <li>
                        <a href="#/team">theTeam
                        <img src="../../assets/images/team2.png"></a>
                    </li>
                    <li>
                        <a href="#/main">info
                            <img src="../../assets/images/information19.png">
                        </a>
                    </li>
                    <li>
                        <a href="mailto:skedaddle.click@gmail.com?Subject=Hello!%20I%20saw%20your%20app%20and%20wanted%20to%20contact%20you.&body=Hi%20Sam%20Kauffman,%0A%0ASkedaddle,%20what%20a%20fantastic%20idea%20for%20a%20web%20app!%0AI%20hear%20you%20are%20looking%20for%20front-end%20web%20development%20work.%0ALet's%20schedule%20a%20time%20to%20speak%20at%20your%20earliest%20convience.%0A%0ARegards," target="_top">Contact</a>
                        <img src="../../assets/images/email123.png">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>










<div ng-contoller="Orderctrl as order">

    <!-- Order View -->
    <div class="order-view form-box" ng-show="order.getView() === 'search'">
        <ng-form name='myForm'>
            <div class="icon-label">Destination</div>
            <div class="icon-row">
                <label class="icon-anchor" ng-repeat="location in order.location_icons">
                    <input ng-form="myForm" name="theme" id="theme" type="radio" ng-click="order.selectTheme(location.loc_icon); order.selectCity(location.city)" required/>
                    <img ng-src="{{location.loc_icon}}">
                    <!--<div class="city-tag tag">{{location.city}}</div>-->
                </label>
            </div>
            <div class="icon-label">Max-Budget</div>
            <div class="icon-row">
                <label class="icon-anchor" ng-repeat="maxBudget in order.budget">
                    <input ng-form="myForm" name="budget" id="budget" type="radio" ng-click="order.selectBudget(maxBudget)" required/>
                    <img src="../../assets/images/blank38.png">
                    <div class="icon-tag tag">${{maxBudget}}</div>
                </label>

            </div>
            <a class="btn btn-primary btn-lg search-button" ng-click="order.setView('results')">Search
<!--            <img class="icon-search" src="../../assets/images/magnifying-glass32.png" >-->
            </a>
        </ng-form>
    </div>
    <!-- Order View -->


    <!-- Results View -->
    <div class="results-view form-box" ng-show="order.getView() === 'results'">
        <div class="icon-row bottom-row">
            <i>
                <img class="icon active" src="{{order.getTheme()}}">
                <div class="bottom_city-tag tag">{{order.getCity()}}</div>
            </i>
            <i>
               <img class="icon active" src="../../assets/images/blank38.png">
                <div class="icon-tag bottom-tag tag">${{order.getBudget()}}</div>
            </i>
            <i ng-click="order.setView('search')">
                <img class="icon active" src="../../assets/images/magnifying-glass32.png">
                <div class="icon-tag search-tag tag">new
                    <br>search</div>
            </i>
        </div>
        <table class="table table-striped">
            <tr>
                <th>My Desitination</th>
                <th>Departure Flight</th>
                <th>Return Flight</th>
                <th>Purchase</th>
            </tr>
            <tr ng-repeat="flight in order.datas">

                <td>{{flight.slice[0].segment[0].leg[0].destination}}</td>
                <td>{{flight.slice[0].segment[0].leg[0].origin}} to {{flight.slice[0].segment[0].leg[0].destination}}
                    <br>{{flight.slice[0].segment[0].flight.carrier}} {{flight.slice[0].segment[0].flight.number}} {{flight.slice[0].segment[0].duration}}min.
                    <br>{{flight.slice[0].segment[0].leg[0].departureTime | date : 'M/d/yy h:mm a': EST}} - {{flight.slice[0].segment[0].leg[0].arrivalTime | date : 'h:mm a': EST}}
                </td>

                <td>{{flight.slice[1].segment[0].leg[0].origin}} to {{flight.slice[1].segment[0].leg[0].destination}}
                    <br>{{flight.slice[1].segment[0].flight.carrier}} {{flight.slice[1].segment[0].flight.number}} {{flight.slice[1].segment[0].duration}}min.
                    <br>{{flight.slice[1].segment[0].leg[0].departureTime | date : 'M/d/yy h:mm a': EST}} - {{flight.slice[1].segment[0].leg[0].arrivalTime | date : 'h:mm a': EST}}
                </td>
                <td>${{flight.saleTotal.slice(3)}}

                    <br><a class="btn btn-success" ng-click="order.setView('purchase')" href="https://www.priceline.com/fly/#/search/{{flight.slice[0].segment[0].leg[0].origin}}-{{flight.slice[0].segment[0].leg[0].destination}}-{{flight.slice[0].segment[0].leg[0].departureTime | date : 'yyyyMMdd'}}/{{flight.slice[1].segment[0].leg[0].origin}}-{{flight.slice[1].segment[0].leg[0].destination}}-{{flight.slice[1].segment[0].leg[0].departureTime | date : 'yyyyMMdd'}}/1?country-code=US&input-arm-key=564A200A574A200A0zah2Hi%3DzEWMPNckq9BDJC2439&search-number-of-stops=0&direction=outbound&page=1" target="purchaseFrame">Skedaddle!</a>
                </td>
            </tr>
        </table>

    </div>
    <!-- Results View -->

    <!--Buy View -->
    <div class="form-box frame-box" ng-show="order.getView() === 'purchase'">
        <div ng-click="order.setView('purchase')>[x] close</div>
        <iframe name=" purchaseFrame " src="http://www.discovery.com/tv-shows/shark-week/ " frameborder="0 " allowtransparency="true " scrolling="yes ">Your browser doesn't support iFrames. To Purchase your flight continue <a href='https://www.priceline.com/fly/#/search/{{flight.slice[0].segment[0].leg[0].origin}}-{{flight.slice[0].segment[0].leg[0].destination}}-{{flight.slice[0].segment[0].leg[0].departureTime | date : ' yyyyMMdd '}}/{{flight.slice[1].segment[0].leg[0].origin}}-{{flight.slice[1].segment[0].leg[0].destination}}-{{flight.slice[1].segment[0].leg[0].departureTime | date : 'yyyyMMdd '}}/1?country-code=US&input-arm-key=564A200A574A200A0zah2Hi%3DzEWMPNckq9BDJC2439&search-number-of-stops=0&direction=outbound&page=1'>HERE</a>
        </iframe>

    </div>
    <!--Buy View -->

</div>