<header>
    <div ng-include="'components/navbar/navbar.html'"></div>
</header>


<div ng-contoller="Orderctrl as order">

    <!-- Search View -->
    <div class="order-view form-box searchHeight" ng-show="order.getView() === 'search'">
        <ng-form name='myForm'>
            <div class="icon-label">Destination</div>
            <div class="icon-row">
                <label class="icon-anchor" ng-repeat="location in order.location_icons">
                    <input ng-form="myForm" name="theme" id="theme" type="radio" ng-click="order.selectTheme(location)" required/>
                    <img ng-src="{{location.loc_icon}}">
                    <!--<div class="city-tag tag">{{location.city}}</div>-->
                </label>
            </div>

            <div class="icon-label">Max-Budget</div>
            <div class="icon-row">

                <label class="icon-anchor" ng-repeat="maxBudget in {true: order.romanticBudget, false: order.singleBudget}[order.selections.finalDestination === 'CHS']">
                    <input ng-form="myForm" name="budget" id="budget" type="radio" ng-click="order.selectBudget(maxBudget)" required/>
                    <img src="assets/images/blank38.png">
                    <div class="icon-tag tag" ng-class="{true: 'romantic-tag'}[order.selections.finalDestination === 'CHS'] ">${{maxBudget}}</div>
                </label>

            </div>
            <a id="apiClick" class="btn btn-primary btn-lg search-button" ng-click="order.setView('results'); order.apiCall(order.selections)">Search
            </a>
        </ng-form>
    </div>
    <!-- Order View -->


    <!-- Results View -->
    <div class="form-box results-view reultsHeight" ng-show="order.getView() === 'results'">
        <div class="icon-row bottom-row">
            <i>
                <img class="icon active" src="{{order.getTheme().loc_icon}}">
            </i>
            <i>
                <img class="icon active" src="assets/images/blank38.png">
                <div class="icon-tag bottom-tag tag" ng-class="{true: 'romantic-tag-bottom'}[order.getTheme().city_code === 'CHS']">${{order.getBudget()}}</div>
            </i>
            <i ng-click="order.setView('search')">
                <img class="icon active" src="assets/images/NewMagnifyingGlass.png">
            </i>
        </div>
        <table class="table table-striped">
            <tr>
                <th>My Desitination</th>
                <th>Departure Flight</th>
                <th>Return Flight</th>
                <th>Purchase</th>
            </tr>
            <tr ng-repeat="flight in order.trips.tripOption">

                <td>
                    <span ng-repeat="airport in order.trips.data.airport">
                       <span ng-if="airport.code == flight.slice[0].segment[0].leg[0].destination" >
                           <span ng-repeat="city in order.trips.data.city">
                               <span ng-if="city.code == airport.city">
                                   {{city.name}}
                               </span>

                    </span>
                    </span>
                    </span>
                </td>
                <td>{{flight.slice[0].segment[0].leg[0].origin}} to {{flight.slice[0].segment[0].leg[0].destination}}
                    <br>
                    <span ng-repeat="airline in order.trips.data.carrier">
                        <span ng-if="airline.code === flight.slice[0].segment[0].flight.carrier">{{airline.name.replace('Corporation', '-').replace(', Inc.', ' -')}}
                        </span>
                    </span>
                    {{flight.slice[0].segment[0].flight.number}}, {{flight.slice[0].segment[0].duration}}min.
                    <br>{{flight.slice[0].segment[0].leg[0].departureTime | date : 'M/d/yy, h:mm a': EST}} - {{flight.slice[0].segment[0].leg[0].arrivalTime | date : 'h:mm a': EST}}
                </td>

                <td>{{flight.slice[1].segment[0].leg[0].origin}} to {{flight.slice[1].segment[0].leg[0].destination}}
                    <br>
                    <span ng-repeat="airline in order.trips.data.carrier">
                        <span class="airlineName" ng-if="airline.code === flight.slice[1].segment[0].flight.carrier">{{airline.name.replace('Corporation', '-').replace(', Inc.', ' -')}}
                        </span>
                    </span>
                    {{flight.slice[1].segment[0].flight.number}}, {{flight.slice[1].segment[0].duration}}min.
                    <br>{{flight.slice[1].segment[0].leg[0].departureTime | date : 'M/d/yy, h:mm a': EST}} - {{flight.slice[1].segment[0].leg[0].arrivalTime | date : 'h:mm a': EST}}
                </td>
                <td class="purchase">${{flight.saleTotal.slice(3)}}
                    <br><a class="btn btn-success" ng-click="order.setView('purchase')" href="https://www.priceline.com/fly/#/search/{{flight.slice[0].segment[0].leg[0].origin}}-{{flight.slice[0].segment[0].leg[0].destination}}-{{flight.slice[0].segment[0].leg[0].departureTime | date : 'yyyyMMdd'}}/{{flight.slice[1].segment[0].leg[0].origin}}-{{flight.slice[1].segment[0].leg[0].destination}}-{{flight.slice[1].segment[0].leg[0].departureTime | date : 'yyyyMMdd'}}/1?country-code=US&input-arm-key=564A200A574A200A0zah2Hi%3DzEWMPNckq9BDJC2439&search-number-of-stops=0&direction=outbound&page=1" target="purchaseFrame">Skedaddle!</a>
                </td>
            </tr>
        </table>

    </div>
    <!-- Results View -->

    <!--Buy View -->
    <div class="form-box frame-box buyHeight" ng-show="order.getView() === 'purchase'">
        <a class="closeIframe" ng-click="order.setView('results')">[x] close</a>
        <iframe name="purchaseFrame" src="http://www.discovery.com/tv-shows/shark-week/" frameborder="0 " allowtransparency="true " scrolling="yes ">Your browser doesn't support iFrames. To Purchase your flight continue
            <a href="https://www.priceline.com/fly/#/search/{{flight.slice[0].segment[0].leg[0].origin}}-{{flight.slice[0].segment[0].leg[0].destination}}-{{flight.slice[0].segment[0].leg[0].departureTime | date : 'yyyyMMdd'}}/{{flight.slice[1].segment[0].leg[0].origin}}-{{flight.slice[1].segment[0].leg[0].destination}}-{{flight.slice[1].segment[0].leg[0].departureTime | date : 'yyyyMMdd'}}/1?country-code=US&input-arm-key=564A200A574A200A0zah2Hi%3DzEWMPNckq9BDJC2439&search-number-of-stops=0&direction=outbound&page=1">HERE</a>
        </iframe>

    </div>
    <!--Buy View -->

</div>