$header-font-color: #9D9D9D;
$background-color: #A0B6DB;
$green-border-color: #4C5B0A;
$icon-background-color: rgba(232,
235,
236,
0.75);
$icon-background-color_hover: white;
$icon-background-color_checked: #7099D9;
$icon-background-color_checked_hover: #A0B6DA;
$icon-border: #491530;
$icon-border_hover: #9B396B;
$icon-border_checked_hover: #481530;
$search-button-background-color: #204B8A;
$box-background-color: rgba(232,
235,
236,
0.5);
body {
    background-image: url(../assets/images/commercial-airplane-taking-off-and-high-resolution_227318.png);
    background-size: 290%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
}

.container-fluid {
    padding: 0;
    .jumbotron {
        h1 {
            font-family: 'Fontdiner Swanky', cursive;
            margin-top: 0;
            margin-left: 0em;
        }
        background-color: $box-background-color;
        border-radius: 0 !important;
        width: 100vw;
        height: 67vh;
        h5 {
            font-family: 'Kaushan Script', cursive;
            margin-left: 0em;
        }
        p {
            margin-bottom: 2em;
        }
        a {
            margin: 9em auto 0 auto;
            display: block;
        }
    }
}

.navbar-brand {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 1.5em;
    margin: 0 auto;
    width: 100%;
    transition-duration: 0.3s;
    i {
        right: 0;
        img {
            -webkit-transform: scale(.8);
            width: 3%;
            margin-top: 0.5%;
        }
    }
}

.catch_phrase {
    color: $header-font-color;
    font-size: 0.75em;
    font-family: 'Kaushan Script', cursive;
}

label > input {
    /* HIDE RADIO */
    
    visibility: hidden;
    /* Makes input not-clickable */
    
    position: absolute;
    /* Remove input from document flow */
}

label > input + img {
    /* IMAGE STYLES */
    
    cursor: pointer;
    border: $icon-border solid 0.3ex;
    background-color: $icon-background-color;
    border-radius: 5em;
    margin: 4ex 2ex 0 2ex;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: scale(1.4);
}

label > input + img:hover {
    background-color: $icon-background-color_hover;
    box-shadow: 0 0 20px $icon-border_hover;
}

label > input:checked + img {
    /* (RADIO CHECKED) IMAGE STYLES */
    
    box-shadow: 0 0 20px $icon-border_hover;
    background-color: $icon-background-color_checked;
    transition-duration: .5s;
}

label > input:checked + img:hover {
    background-color: $icon-background-color_checked_hover;
    box-shadow: 0 0 20px $icon-border_checked_hover;
}

.icon-label {
    text-align: center;
    margin: 25% auto 0 6em;
    font-size: 2em;
    width: 100%;
    display: block;
    font-family: 'Droid Serif', serif;
    //
    position: absolute;
    -webkit-transform: rotate(90deg);
    //    margin-left: 6em;
    //    margin-top: 25%;
}

.icon {
    cursor: pointer;
    border: $icon-border solid 0.5ex;
    background-color: $icon-background-color;
    border-radius: 5em;
    margin: 4ex 2ex 0 2ex;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: scale(1.4);
}

.icon:hover {
    background-color: $icon-background-color_hover;
    box-shadow: 0 0 20px $icon-border_hover;
}

.active {
    box-shadow: 0 0 20px $icon-border_hover;
    background-color: $icon-background-color_checked;
    transition-duration: .5s;
}

.active:hover {
    background-color: $icon-background-color_checked_hover;
    box-shadow: 0 0 20px $icon-border_checked_hover;
}

.icon-search {
    height: 1.5em;
    position: absolute;
    margin-left: 5%;
}

.tag {
    position: absolute;
    //display: inline;
    color: white;
    word-wrap: normal;
    line-height: .9em;
    text-align: center;
    text-shadow: #041E42 2px 0;
    cursor: pointer;
}

.icon-tag {
    margin: -3.5ex 0 0 3ex;
    font-size: 1.6em;
    -webkit-transform: rotate(29deg);
}

.city-tag {
    margin: -3.7ex 0 0 -5ex;
    font-size: 1.2em;
    width: 5em;
}

.bottom_city-tag {
    margin: 6.5ex 0 0 -11ex;
    font-size: 1.2em;
    width: 5em;
}

.plus-tag {
    margin: 5% 0 0 -12.8vw;
    font-size: 1em;
}

.icon-row {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.bottom-row {
    margin-bottom: 2em;
}

.bottom-tag {
    margin-top: -6ex;
    margin-left: 15.3em;
}

.search-tag {
    margin-top: -4em;
    margin-left: 19.5em;
    -webkit-transform: rotate(0);
}

.budget {
    width: 50%;
}

a:hover {
    text-decoration: none;
    color: white;
}

.search-button {
    border: solid 0.1em black;
    padding: 1ex 1ex 1ex 1ex;
    border-radius: 1ex;
    margin: 6ex 2em 2em 2em;
    text-align: center;
    display: block;
    background-color: $search-button-background-color;
    color: black;
    font-size: 1.5em;
}

.search-button:hover {
    color: white;
    background-color: $icon-background-color_checked_hover;
    transition-duration: 0.3s;
    box-shadow: 0 0 20px white;
}

.form-box {
    margin: 0% auto 0% auto;
    padding: 5em 0 0 0;
    width: 100vw;
    height: 100vh;
    background-color: $box-background-color;
}

.results-box {
    background-color: $box-background-color;
    margin: 30% auto auto auto;
    width: 100%;
}

.results-nav-icons {
    margin: 0 auto;
    text-align: center;
}

.results-nav-icons > a {
    width: 2em;
}

td {
    border-bottom: black solid 2px;
}

footer {
    display: none;
}

.navbar-toggle {
    display: inline-block;
    position: absolute;
    right: 0;
}

.navbar li a img {
    width: (5%);
}

.nav-footer {
    margin: 0 auto;
    text-align: center;
    a img:hover {
        box-shadow: 0 0 20px $icon-border_checked_hover;
    }
}

.purchase {
    text-align: center;
}

.btn-success {
    margin-top: 0;
}

.btn-success:hover {}

iframe {
    width: 100vw;
    height: 100vh;
}

.twitter-timeline {
    display: none;
    float: right;
    display: block;
    position: absolute;
}

.fa-twitter {
    background-color: white;
    color: #63AEEB;
}

.fa-twitter:hover {
    background-color: #63AEEB;
    color: white;
}

.fa-github {
    background-color: #F5F5F5;
    color: black;
}

.fa-github:hover {
    background-color: black;
    color: #F5F5F5;
}

.fa-linkedin {
    color: white;
    background-color: #3484B8;
}

.fa-linkedin:hover {
    color: #3484B8;
    background-color: white;
}

#burger-bar ul li a {
    margin: 2ex auto;
}

.teampage {
    height: 75vh;
    padding: 1em;
    h1 {
        position: relative;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-family: 'Fontdiner Swanky', cursive;
        em {
            font-family: 'Droid Serif', serif;
        }
    }
    div {
        div {
            font-size: 3ex;
            padding: 0.5ex;
            color: black;
        }
    }
    ul {
        font-size: 1em;
    }
}

.employee-box {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 30%;
    text-align: center;
    .social-icon {
        .fa {
            display: block;
        }
    }
    div {
        text-align: center;
    }
}

.email {
    padding: 1ex .1ex;
    color: white;
    background-color: black;
    margin: 1ex;
    margin-top: 1ex;
    display: block;
}

.email:hover {
    color: black;
    background-color: white;
}

@media screen and (min-width: 767px) {
    background-size: 100%;
    .form-box {
        margin: 15% auto;
        width: 66%;
    }
    .email {
        margin-top: 1ex;
    }
    .frame-box {
        width: 80vw;
    }
    iframe {
        width: 79vw;
    }
    footer {
        display: block;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }
}

@media screen and (min-width: 991px) {
    body {
        background-size: 120%;
    }
    .container-fluid {
        .jumbotron {
            border-radius: 0 !important;
            margin-bottom: 0;
            height: 100vh;
            width: 33vw;
            margin-right: 60em;
            a {
                display: inherit;
                margin-top: 8.4em;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
    .form-box {
        margin: 7% auto;
        border-radius: 5px;
        padding-bottom: 1em;
        padding: 1ex;
        width: 50%;
        height: 60vh;
        a {
            margin-top: 4ex;
        }
        .email {
            margin-top: 1ex;
        }
        .btn-success {
            margin-top: 0;
        }
    }
    .form-box .results-view {
        height: 75 vh;
    }
    .teampage {
        margin-top: 2em;
        height: 80vh;
    }
    .frame-box {
        width: 80vw;
    }
    iframe {
        width: 79vw;
    }
    closeIframe {
        cursor: pointer;
    }
    .icon {
        border: $icon-border solid 0.5ex;
        border-radius: 5em;
        margin: 2em 2.5ex;
        position: relative;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        -webkit-transform: scale(1.5);
    }
    .icon-label {
        margin: 3% auto 0 auto;
        position: inherit;
        -webkit-transform: rotate(0deg);
    }
}

// injector
// endinjector