<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#burger-bar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/index.html">
                <em class="catch_phrase">when you've just gotta... </em> Skedaddle</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="burger-bar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/order" ng-click="order.setView('search')">Search
                            <img src="assets/images/magnifying-glass32.png">
                        </a>
                </li>

                <li>
                    <a href='http://www.facebook.com/justgottaskedaddle'>facebook
                            <img src="assets/images/facebook29.png">
                        </a>
                </li>
                <li>
                    <a href="https://twitter.com/gottaSkedaddle">Twitter
                            <img src="assets/images/twitter1.png">
                        </a>
                </li>
                <li>
                    <a href="#/team">theTeam
                        <img src="assets/images/team2.png"></a>
                </li>
                <li>
                    <a href="mailto:skedaddle.click@gmail.com?Subject=Hello!%20I%20saw%20your%20app%20and%20wanted%20to%20contact%20you.&body=Hi%20Sam%20Kauffman,%0A%0ASkedaddle,%20what%20a%20fantastic%20idea%20for%20a%20web%20app!%0AI%20hear%20you%20are%20looking%20for%20front-end%20web%20development%20work.%0ALet's%20schedule%20a%20time%20to%20speak%20at%20your%20earliest%20convience.%0A%0ARegards," target="_top">Contact
                            <img src="assets/images/email123.png">
                        </a>
                </li>
            </ul>
        </div>
    </div>
</nav>